/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

/* common styles start here */

.btn-primary {
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 35px;
    background-color: #FFF;
    color: #F15B22;
    border: 0;
    border-radius: 5px;
}

.description {
    color: #444343;
    font-size: 16px;
    line-height: 26px;
}

/* common styles end here */

/* header style start here */

header {
    background: url("images/banner/banner1.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.header-content-container {
    max-width: 525px;
    margin: 200px 230px 150px auto;
    
}

.header-title {
    color: #151414;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 25px;
}

.header-description {
    color:#444343;
    text-align: right;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
}

.contact-us-btn {
    text-align: right;
}

.contact-us-btn button {
    border-radius: 5px;
    border: 0;
    background: #F15B22;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
}

/* header style start here */

/* main style start here */

main {
    margin: 140px 230px 130px;
}

/* hero section style start here */

.hero-section {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-bottom: 130px;
}


.hero-img img {
    width: 450px;
}

.hero-details-container {
    margin-top: 170px;
}

.hero-details-title {
    color:#151414;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
}

.hero-details-description {
    color:#444343;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 25px;
}

.hero-details-list p {
    color: #444343;
    font-size: 16px;
    line-height: 26px;
}

.hero-details-list i {
    color: green;
}

/* hero section style end here */

/* contact section styles starts here */



/* contact section styles end here */

/* my plan section style start here */

.my-plan-title {
    color:#151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 50px;
}

.plans {
    display: flex;
    justify-content: space-between;
}

.plan {
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.plan image {
    width: 90px;
}

/* my plan section style end here */

/* contact section style start here */

.contact-section {
    background: url("images/gradient3.png"), url("images/watch.png");
    padding: 60px 0 60px 60px;
    margin: 130px 0;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 25px;
}

.contact-details-container {
    
}

/* contact section style end here */

/* main style start here */

/* footer style start here */

footer {
    background-color: #151414;
    padding: 130px 230px;
}

.future-col-container {
    display: flex;
    justify-content: space-between;
}

.future-column {
    width: 485px;
}

.future-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
}

.future-descriptin {
    margin: 16px 0 24px;
    color: #FFF;
    font-size: 16px;
    line-height: 26px;
}

.future-column a {
    color: #F8F8F8;
    text-decoration: none;
}

.future-column p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
}

.icons {
    margin-top: 16px;
}

.icons img {
    margin-right: 20px;
}

.subscribe-title {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 30px;
}

.subscribe-column input {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    padding: 20px;
    background-color: #151414;
    border-radius: 8px;
    border: 1px solid #FFF;
    color: #F3F3F3;
    font-size: 18px;
}

/* footer style end here */